body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('79F189C4-CBFC-460F-8F48-FFE6A7E8A95B_1_201_a.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    background-color: rgb(221, 220, 220);
    color: black;
    padding: 20px;
    text-align: center; 
}

.logo-container {
    display: flex;
    align-items: center; 
}

.logo {
    margin-right: 20px; 
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.title h1 {
    margin: 0; 
}

.title p {
    margin: 5px 0 0;
}

.container {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    margin-bottom: 60px;
    text-align: center; 
}

.details {
    margin-bottom: 20px; 
}


input[type="text"] {
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: rgb(221, 220, 220);
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.meal-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.meal-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.meal img {
    max-width: 200px;
    margin-right: 20px;
}

.meal-details {
    flex-grow: 1;
}
